<!-- <div>{{ appState$ | async | json }}</div> -->
<div class="container-xl" >
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="display: flex; align-items: center; color: white;flex-direction: row; justify-content: space-between; ">
          <div class="col-sm-6">
            <img src="/assets/Logo_new.png" class="img-fluid w-25" alt="Logo_App-Server" href="#">
            <style>
              /*@media (max-width: 768px) {
                img {
                  max-height: 5vh;
                }
              }*/
              /* Pour les très petits écrans */
              @media (max-width: 480px) {
                img {
                  /*max-height: 2vh;*/
                  margin-bottom: -60px;
                }
              }
            </style>
          </div>
          <div class="col-sm-6" style="text-align: right; white-space: nowrap">
            <button
              (click)="printReport()"
              type="button"
              class="btn btn-light text-light"
              style="margin-left: 15px;background: #5f249f;"
            >
              Print Report <i class="fa fa-download"></i>
            </button>
          </div>
        </div>
      </div>
      <ng-container
        *ngIf="appState$ | async as appState"
        [ngSwitch]="appState.dataState"
      >
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
          <!-- Search Section-->
          <div class="card">
            <div class="card-header">
              List Servers :
            </div>
            <div class="card-body d-flex">
              <div class="input-group w-auto">
                <label class="input-group-text">Search Server :</label>
                <input type="text" [(ngModel)]="filterText" class="form-control"/>
                <button class="btn btn-light mx-3 text-light" (click)="searchServers()">
                  <i class="fa fa-search"></i>
                  Search
                </button>
              </div>
              <a
                href="#addEmployeeModal"
                class="btn btn-light text-light"
                data-toggle="modal"
              >
                <i class="material-icons">&#xE147;</i>
                <span style="margin-left: 5px">New Server</span>
              </a>
            </div>
            <!--<table class="table table-striped table-hover m-0" id="servers">
              <thead>
              <tr>
                <th>Image</th>
                <th>IP Address</th>
                <th>Name</th>
                <th>Memory</th>
                <th>Type</th>
                <th>Status</th>
                <th>Ping</th>
                <th>Install</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody
                *ngFor="
                let server of filteredServers;
                let i = index
              ">
              <-- TODO - fix this. "!" is not safe  --
              <tr>
                <td>
                  <img
                    [src]="server.imageUrl"
                    [alt]="server.id"
                    width="40"
                    height="40"
                    class="m-0"
                  />
                </td>
                <td>{{ server.ipAddr }}</td>
                <td>{{ server.name }}</td>
                <td>{{ server.memory }}</td>
                <td>{{ server.type }}</td>
                <td>
                  <span
                    class="badge badge-pill"
                    [ngClass]="[
                      server.status === Status.SERVER_UP
                        ? ' badge-success'
                        : ' badge-danger'
                    ]"
                  >
                    {{
                      server.status === Status.SERVER_UP
                        ? "SERVER UP"
                        : "SERVER DOWN"
                    }}
                  </span>
                </td>
                <td>
                  <a
                    (click)="pingServer(server.ipAddr)"
                    style="cursor: pointer; color: rgb(48, 76, 87);"
                  >
                    <i
                      *ngIf="
                        (filterStatus$ | async) === '' ||
                        (filterStatus$ | async) !== server.ipAddr
                      "
                      class="material-icons"
                      title="Ping server"
                    >&#xe328;</i
                    >
                    <i
                      *ngIf="(filterStatus$ | async) === server.ipAddr"
                      class="fa fa-spinner fa-spin"
                      style="font-size: 24px"
                    ></i>
                  </a>
                </td>
                <td>
                  <a
                    (click)="setSelectedServer(server)"
                    class="install"
                    data-toggle="modal"
                    data-target="#installSoftwareModal"
                    style="cursor: pointer; color: rgb(33, 150, 243);"
                  >
                    <i
                      class="material-icons"
                      data-toggle="tooltip"
                      title="Install"
                    >&#xe2c3;</i> !-- Icon for system update or install --
                  </a>
                </td>
                <td>
                  <button (click)="setServerToDelete(server)" class="btn btn-outline-danger">
                    <i class="fa fa-trash" title="Delete"></i>
                  </button>
                </td>
                !-- Confirmation Modal --
                <div *ngIf="showConfirmation" class="confirmation-dialog">
                  <style>
                    .confirmation-dialog {
                      position: fixed;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background-color: rgb(159 148 148 / 20%);
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }

                    .confirmation-content {
                      background-color: #fff;
                      padding: 20px;
                      border-radius: 8px;
                      text-align: center;
                    }

                  </style>
                  <div class="confirmation-content">
                    <h3>Are you sure you want to delete this server?</h3>
                    <p>{{serverToDelete?.name}} ({{serverToDelete?.ipAddr}})</p>
                    <button (click)="confirmDelete()" class="btn btn-danger">Yes, Delete</button>
                    <button (click)="cancelDelete()" class="btn btn-success mx-2">Cancel</button>
                  </div>
                </div>

              </tr>
              </tbody>
            </table>-->
            <!-- Table Server Lists -->
            <table class="table table-striped table-hover m-0" id="servers">
              <thead>
              <tr>
                <th>Image</th>
                <th>IP Address</th>
                <th>Name</th>
                <th>Memory</th>
                <th>Type</th>
                <th>Status</th>
                <th>Ping</th>
                <th>Install</th>
                <th>Actions</th>
              </tr>
              </thead>
              <!-- Filter keyword to display data if it exist if not noServerFound -->
              <tbody *ngIf="filteredServers && filteredServers.length > 0; else noServerFound">
              <!-- Table to fetch data from DB -->
              <tr *ngFor="let server of filteredServers; let i = index">
                <td><img [src]="server.imageUrl" [alt]="server.id" width="40" height="40" class="m-0" /></td>
                <td>{{ server.ipAddr }}</td>
                <td>{{ server.name }}</td>
                <td>{{ server.memory }}</td>
                <td>{{ server.type }}</td>
                <td>
        <span class="badge badge-pill" [ngClass]="server.status === Status.SERVER_UP ? 'badge-success' : 'badge-danger'">
          {{ server.status === Status.SERVER_UP ? "SERVER UP" : "SERVER DOWN" }}
        </span>
                </td>
                <td>
                  <a (click)="pingServer(server.ipAddr)" style="cursor: pointer; color: rgb(48, 76, 87);">
                    <i *ngIf="(filterStatus$ | async) !== server.ipAddr" class="material-icons" title="Ping server">&#xe328;</i>
                    <i *ngIf="(filterStatus$ | async) === server.ipAddr" class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
                  </a>
                </td>
                <td>
                  <a (click)="setSelectedServer(server)" class="install" data-toggle="modal" data-target="#installSoftwareModal"
                     style="cursor: pointer; color: rgb(33, 150, 243);">
                    <i class="material-icons" data-toggle="tooltip" title="Install">&#xe2c3;</i>
                  </a>
                </td>
                <td>
                  <button (click)="setServerToDelete(server)" class="btn btn-outline-danger">
                    <i class="fa fa-trash" title="Delete"></i>
                  </button>
                </td>
                <!-- Confirmation Modal -->
                <div *ngIf="showConfirmation" class="confirmation-dialog">
                  <div class="confirmation-content">
                    <h3>Are you sure you want to delete this server?</h3>
                    <p>{{serverToDelete?.name}} ({{serverToDelete?.ipAddr}})</p>
                    <button (click)="confirmDelete()" class="btn btn-danger">Yes, Delete</button>
                    <button (click)="cancelDelete()" class="btn btn-success mx-2">Cancel</button>
                  </div>
                </div>
              </tr>
              </tbody>
              <ng-template #noServerFound>
                <tr>
                  <td colspan="9" class="text-center bg-danger text-light">The server you searched for was not found.</td>
                </tr>
              </ng-template>
            </table>

          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.ERROR_STATE">
          <div class="alert-danger">
            {{ appState.error }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!-- Confirmation Modal Delete Btn-->
<div class="modal" tabindex="-1" role="dialog" *ngIf="showConfirmation">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Server</h5>
        <button type="button" class="close" (click)="cancelDelete()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the server {{ serverToDelete?.name }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Yes, Delete</button>
        <button type="button" class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- Add server Modal  -->
<div id="addEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
        <div class="modal-header">
          <h4 class="modal-title text-center">Add Server</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>IP</label>
            <input
              type="text"
              ngModel
              name="ipAddr"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              ngModel
              name="name"
              class="form-control"
              required
            />
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Memory</label>
                <input
                  type="text"
                  ngModel
                  name="memory"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Type</label>
                <input
                  type="text"
                  ngModel
                  name="type"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Status</label>
            <select
              name="status"
              ngModel="SERVER_DOWN"
              class="form-control"
              name="status"
              required
            >
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DOWN">SERVER DOWN</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            id="closeModal"
            data-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="submit"
            [disabled]="serverForm.invalid || (isLoading$ | async)"
            class="btn btn-success"
          >
            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="isLoading$ | async">Saving...</span>
            <span *ngIf="!(isLoading$ | async)">Add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Install Software Modal -->
<div id="installSoftwareModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #installForm="ngForm" (ngSubmit)="installSoftware(installForm)">
        <div class="modal-header">
          <h4 class="modal-title text-center">Install Software</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Server Name</label>
            <input
              type="text"
              ngModel
              name="serverName"
              class="form-control"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Server IP</label>
            <input
              type="text"
              ngModel
              name="serverIp"
              class="form-control"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Choose Software to Install</label>
            <select
              name="software"
              ngModel
              class="form-control"
              multiple
              required
            >
              <option value="java">Java</option>
              <option value="maven">Maven</option>
              <option value="nodejs">Node.js</option>
              <option value="docker">Docker</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="submit"
            [disabled]="installForm.invalid || (isLoadingInstall$ | async)"
            class="btn btn-success"
          >
            <i *ngIf="isLoadingInstall$ | async" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="isLoadingInstall$ | async">Installing...</span>
            <span *ngIf="!(isLoadingInstall$ | async)">Install</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
<!-- Partners Seaction -->
<!-- Carousel slider Partners -->
<section>
  <h3 class="my-5">Our Partners</h3>
  <div class="slider">
    <div class="slider-items">
      <img src="../assets/DXC-Logo.webp" alt="DXC-logo" />
      <img src="../assets/jobintech.png" alt="JobinTech-logo" />
      <img src="/assets/logo_ynov_black.png" alt="YNOV-logo" />
      <img src="../assets/jobintech.png" alt="JobinTech-logo" />
      <img src="/assets/logo_ynov_black.png" alt="YNOV-logo" />
      <img src="../assets/DXC-Logo.webp" alt="DXC-logo" />
    </div>
  </div>
</section>
